{% extends "base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
</head>
<body>
<h3>Ваше фото:</h3>
<input type="file" name="photo_file" id="image" accept="image/*">
<h2>Мой профиль</h2>
<p><h4>Название профиля: {{user}}</h4></p>
<p><h4>Имя: {{user.first_name}}</h4></p>
<p><h4>Фамилия: {{user.last_name}}</h4></p
<p><h4>Эл.Почта: {{user.email}}</h4></p>
<p><h2>Мои заказы:</h2></p>
    <ul></ul>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Тут пока ничего нет.</p>
    {% endif %}
</body>
</html>
{% endblock %}